/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 27, 2019, 2:31:40 AM
    Author     : cortez
*/

.navprincipal{
    margin-bottom: 10px;
}

.amort{
    margin-left: 140px;
    margin-top: 10px;
}

.img{
    width: 200px;/* Faz a largura ficar igual a da largura da imagem de exemplo */
    height: 150px;/* Faz a altura ficar igual a da altura da imagem de exemplo */
}

.imagens{
    margin-left: 350px;
    margin-top: 50px;
    margin-bottom: 10px;

}

