/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 27, 2019, 2:31:40 AM
    Author     : cortez
*/

.navprincipal{
    margin-bottom: 10px;
}

.amort{
    margin-top: 10px;
}

img{
    width: 225px !important;/* Faz a largura ficar igual a da largura da imagem de exemplo */
    height: 200px !important;/* Faz a altura ficar igual a da altura da imagem de exemplo */
}

p {
    font-size: 1.5em;
}

.imagens{
    margin-top: 50px;
    margin-bottom: 10px;
}

h2 {
    color: #4C4C4C;
    word-spacing: 5px;
    font-size: 30px;
    font-weight: 700;
    margin-bottom:30px;
    font-family: 'Raleway', sans-serif;
}

.ion-minus{
    padding:0px 10px;
}

.team{
	background-color:#f6f6f6;
	padding:60px 0px;
    font-family: 'Raleway', sans-serif;
}

.team h4 {
    margin-top: 20px;
    color: #5db4c0;
}

.team .fa{
    color: #5db4c0;
    font-size: 18px;
    margin-top: 10px;
    padding: 3px;
}
